@import "tailwindcss";

/* app/globals.css */
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

:root {
  --background: #1c1c1c;
  --foreground: #fcfcfc;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #1c1c1c;
    --foreground: #fcfcfc;
  }
} */

.text-color {
  color: var(--foreground);
}

p > a {
  text-decoration: underline;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Courier New", Courier, monospace;
}
/* Style markdown elements */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  line-height: 1.25;
}
h1 {
  font-size: 1.5rem;
}
h2 {
  font-size: 1.25rem;
}

p {
  margin: 1rem 0;
  line-height: 1.6;
}
